/* Add your custom extension styling here */
.moonphases-label {color : #FFE5CC; font-weight: bold;}
.moonphases-icon-size { icon-size: 10px; }
.moonphases-button-action > StIcon { icon-size: 16px; }
.moonphases-button-box { padding: 0px; spacing: 22px; }
