/* custom extension styling here */
.moonphases-label {color : #FFE5CC; font-weight: bold;font-size: 8pt}
.moonphases-button-action { icon-size: 20px; }
.moonphases-button-box { padding: 0px; spacing: 22px; }
.moonphases-drawarea-dim {width: 28px;  height: 28px; }
